.body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;
}

*{
    box-sizing: border-box;
    margin: 0;
}

h1, h3 {
    font-weight: 300px;
}

.weather-app{
    height: 100vh;
    background-image: url(Images/day/Cloudy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #111;
    transition: 500ms;
    opacity: 1;
    h3{
        color: white;
    }
}
.brand{
    margin: 0;
}
.name{
    padding: 0;
    margin: 0;
}
.weather,.box{
    font-size: larger;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}
.container{
    position: absolute;
    top: 55%;
    h3{
        color: white;
    }
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.city-time, .temp, .weather {
    margin: 0 1em;
}

.city-time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp{
    font-size: 7em;
    margin: 0;
}

.weather image{
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.18);
    z-index: 1;
    padding: 3em 2em;
}

.panel form{
    margin-bottom: 3em;
}

.Submit{
    position: absolute;
    padding: 2rem;
    top: 0;
    right: 0;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.4s;
    i{
        color: white;
        font-size: x-large;
    }
}

.Submit:hover {
    background: #fff !important;
    color: #000;
    i{
        color: black;
    }
}

.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}

.search:focus{
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul h4{
    margin: 3em 0;
}

.city{
    display: block;
    cursor: pointer;
}

.city:hover{
    color: #fff;
}

.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    li{
        span{
            color: white;
        }
    }
    h4{
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .weather-app{
        min-height: 40em;
    }
}
